[Unit]
Description=Run script before SDDM starts
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/home/zeptic/zeptittyconf/vfio-zeptic-dynamic/killnvidiagracefully.sh
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
